{% extends 'base.html' %}
{% load staticfiles %}

{% block head %}
  <link rel="stylesheet" href="{% static 'main/home.css' %}" >
  <title>Brad m. Ryan - Resume</title>
{% endblock %}

{% block body %}
<div id="top"></div>
<div class="row" id="banner"><!-- header row -->
  <div class="container" >
    <div class="col-md-offset-2 col-md-3 "><!-- image block -->
      <img src="https://googledrive.com/host/0BxEiHhYAHH6uVjhPcUFxNnR0anM/me.jpg" alt="{{ resume.get_full_name }}" class="img-circle">
    </div><!-- image block -->
    <div class="col-md-offset-1 col-md-5">
      <h1>{{ resume.get_full_name }}</h1>
      <h2>{{ resume.label }}</h2>
      <h4>{{ resume.summary }}</h4>
      <a class="btn btn-default" href="{% url 'get-resume-pdf' %}" role="button">Get Resume.pdf</a>
      <a class="btn btn-default" href="{% url 'get-resume-json' %}" role="button">Get Resume.json</a>
    </div>
  </div>
</div> <!-- header row -->

<div class="row" id="info-row">
  <a href="#skill-banner">
    <div class="col-md-4" id="left-box">
      <h2>SKILLS</h2>
      <span class="glyphicon glyphicon-console"></span>
    </div>
  </a>
  <a href="#edu-banner">
    <div class="col-md-4" id="middle-box">
      <h2>EDUCATION</h2>
      <span class="glyphicon glyphicon-education"></span>
    </div>
  </a>
  <a href="#contact-banner">
    <div class="col-md-4" id="right-box">
      <h2>CONTACT INFO</h2>
      <span class="glyphicon glyphicon-user"></span>
    </div>
  </a>
</div>

<div class="row" id="skill-banner"><a href="#top"><span class="glyphicon glyphicon-chevron-up go-home"></span></a></div>
<div class="row" id="skills-box">
  <div class="container">
    <div class="col-md-6">
      <h1>SKILLS</h1>
      <h2>Brad Ryan is a computer programmer who codes primarily in Python, and
        uses the Django framework to build web applications, but is also skilled in,
        and has experience with many other technologies like Java, SQL, PHP, AngularsJS,
        NodeJS, and Linux. <h2>
    </div>
    <div class="col-md-offset-1 col-md-5">
      <div class="row">
        <div class="col-md-6 logo-image"><img src="https://googledrive.com/host/0BxEiHhYAHH6uZDBBblhXYUVKZVE/python.png" alt="python"></div>
        <div class="col-md-6 logo-image"><img src="https://googledrive.com/host/0BxEiHhYAHH6uZDBBblhXYUVKZVE/django.png" alt="django"></div>
      </div>
      <div class="row">
        <div class="col-md-4 logo-image"><img src="https://googledrive.com/host/0BxEiHhYAHH6uZDBBblhXYUVKZVE/java.png" alt="java"></div>
        <div class="col-md-4 logo-image"><img src="https://googledrive.com/host/0BxEiHhYAHH6uZDBBblhXYUVKZVE/html5.png" alt="html5"></div>
        <div class="col-md-4 logo-image"><img src="https://googledrive.com/host/0BxEiHhYAHH6uZDBBblhXYUVKZVE/javascript.png" alt="javascript"></div>
      </div>
      <div class="row">
        <div class="col-md-6 logo-image"><img src="https://googledrive.com/host/0BxEiHhYAHH6uZDBBblhXYUVKZVE/android.png" alt="android"></div>
        <div class="col-md-6 logo-image"><img src="https://googledrive.com/host/0BxEiHhYAHH6uZDBBblhXYUVKZVE/angularjs.png" alt="angularjs"></div>
      </div>
      <div class="row">
        <div class="col-md-4 logo-image"><img src="https://googledrive.com/host/0BxEiHhYAHH6uZDBBblhXYUVKZVE/nodejs.png" alt="nodejs"></div>
        <div class="col-md-4 logo-image"><img src="https://googledrive.com/host/0BxEiHhYAHH6uZDBBblhXYUVKZVE/linux.png" alt="linux"></div>
        <div class="col-md-4 logo-image"><img src="https://googledrive.com/host/0BxEiHhYAHH6uZDBBblhXYUVKZVE/php.png" alt="php"></div>
      </div>
    </div>
  </div>
</div>

<div class="row" id="edu-banner"><a href="#top"><span class="glyphicon glyphicon-chevron-up go-home"></span></a></div>
<div class="row" id="edu-box">
  <div class="container">
    <div class="col-md-5" id="edu-logo">
      <img src="https://googledrive.com/host/0BxEiHhYAHH6uZDBBblhXYUVKZVE/lambtoncollege.jpg" alt="Lambton College">
    </div>
    <div class="col-md-offset-2 col-md-5">
      <h1>EDUCATION</h1>
      <h2>Brad Ryan graduated in 2016 from the Computer Programmer course offered by
        Lambton College. Topics focused on by the course included: JAVA, PHP, C#,
        SQL, web technologies, business mathematics, software design, mobile development,
        and web security.</h2>
    </div>
  </div>
</div>

<div class="row" id="contact-banner"><a href="#top"><span class="glyphicon glyphicon-chevron-up go-home"></span></a></div>
<div class="row" id="contact-box">
  <div class="col-md-offset-4 col-sm-offset-3">
    <h1>CONTACT</h1>
    <h2>Email: <a href="mailto:brad.m.ryan@gmail.com" target="_top">Brad.M.Ryan@gmail.com</a></h2>
    <h2>Phone: <a href="tel:226-776-6391">{{ resume.phone }}</a></h2>
    <h2>Social Media</h2>
    <ul>
      <li><a href="https://ca.linkedin.com/in/bradmryan"><h3>Linkedin</h3></a></li>
      <li><a href="https://twitter.com/BradMRyan"><h3>Twitter</h3></a></li>
      <li><a href="https://github.com/bradmryan"><h3>GitHub</h3></a></li>
    </ul>
</div>

{% endblock %}


{% block js %}
<script>
$(document).ready(function(){
  //Smooth Scrolling
  $("a").on('click', function(event) {
    if (this.hash === "#skill-banner" || this.hash === "#edu-banner" || this.hash === "#contact-banner" || this.hash === "#top") {
      event.preventDefault();
      var hash = this.hash;
      $('html, body').animate({
        scrollTop: $(hash).offset().top
      }, 800, function(){
        window.location.hash = hash;
      });
    }
  });
});
</script>
{% endblock %}
